<div ng-controller="MapAreaCtrl">
  <div ng-show="errorHappenedMapArea" class=''>
    <div class=''>
      <h1>Oops, something went terribly wrong!</h1>
    </div>
  </div>

  <div ng-hide="errorHappenedMapArea" class=''>
    <div class='panel panel-primary'>
      <div class="panel-heading">
        <h3>Recall Map</h3>
      </div>
      <div class="panel-body info-area-body">
        <div align="center">
          <table><tr><td class="map-col"><div id="map"></div></td></tr></table>
        </div>
      </div>
    </div>
  </div>
</div>
