<div ng-controller="TrendItemCtrl">

  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Title
      </div>
      <div class="panel-body">
        <iframe src="http://www.google.com/trends/fetchComponent?q=food%20recall&cid=GEO_MAP_0_0&export=5&h=200"></iframe>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Title
      </div>
      <div class="panel-body">
        <iframe src="http://www.google.com/trends/fetchComponent?q=food%20recall&cid=GEO_MAP_0_1&export=5&h=200&w=400"></iframe>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Title
      </div>
      <div class="panel-body">
        <iframe src="http://www.google.com/trends/fetchComponent?q=food%20recall&cid=TOP_ENTITIES_0_0&export=5&h=200&w=200"></iframe>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Title
      </div>
      <div class="panel-body">
        <iframe src="http://www.google.com/trends/fetchComponent?q=food%20recall&cid=TOP_QUERIES_0_0&export=5&h=200&w=200"></iframe>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Title
      </div>
      <div class="panel-body">
        <iframe src="http://www.google.com/trends/fetchComponent?q=food%20recall&cid=TIMESERIES_GRAPH_0&export=5&h=200&w=400"></iframe>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Title
      </div>
      <div class="panel-body">
        <iframe src="http://www.google.com/trends/fetchComponent?q=food%20recall&cid=GEO_TABLE_0_0&export=5&h=200&w=200"></iframe>
      </div>
    </div>
  </div>

  <!--
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Title
      </div>
      <div class="panel-body">
        <iframe src="http://www.google.com/trends/fetchComponent?hl=en-US&q=food+recall&geo=US&cmpt=geo&tz=Etc/GMT%2B4&tz=Etc/GMT%2B4&content=1&cid=GEO_MAP_0_1&export=5&w=200&h=200"></iframe>
      </div>
    </div>
  </div>
  -->

</div>
