<div ng-controller="AboutAreaCtrl">

  <a name="about"></a>
  <div class="col-lg-6 well">
    <h1>About Defender</h1>

    <p>Defender is an <a href="https://github.com/INTEGRITY-One/defender">open source project</a> created by <a href="http://www.ionep.com/">INTEGRITYOne Partners</a> as a concept for the <a href="https://18f.gsa.gov/2015/06/15/agile-bpa-is-here/">GSA/18F Agile Delivery Services challenge</a>.</p>

    <p><b>Defender combines information</b> and presents a broader perspective to inform of current <a href="https://open.fda.gov/">FDA enforcement reports</a>. The idea is to provide a big picture utility that combines the more formal enforcement data from FDA with the less formal information from the broad internet community, toward an objective of creating a quick-glance ability to improve knowledge and awareness of these activities.</p>

    <p>Caution: <a href="http://defender.ionep.io">Defender</a> includes data and links to non-governmental organizations, websites and other resources. These resources are provided for informational purposes only. Defender is not for clinical use. For certain, always consult your physician and lawyer before taking action on information found in this site.</p>

    <p>Note: Google Trends has a personal daily limit (based on IP) of 500 queries. If you exceed this limit, you may not be able to view Google Trends data presented on Defender.</p>
  </div>

  <div class="defender-container" class="col-lg-6">
    <h2 class="defender-text well">I'm looking out for you!</h2>
    <img id="img-defender" src="../../assets/images/CaptainD.jpg">
  </div>

</div>
