<div ng-controller="AboutAreaCtrl">

  <div class="col-lg-6 well">
    <h1>More About Defender</h1>

    <p>Defender is an open source project (Note 'open source project' should link to Defender's GitHub site) created by INTEGRITYOne Partners as a concept for the GSA/18F Agile Delivery Services challenge.</p>

    <p><b>Defender combines information</b> and presents a broader perspective to inform of current FDA enforcement reports. The idea is to provide a big picture utility that combines the more formal enforcement data from FDA with the less formal information from the broad internet community, toward an objective of creating a quick-glance ability to improve knowledge and awareness of these activities.</p>

    <p>Caution: url.Defender.??? (not sure what the url is) includes data and links to non-governmental organizations, websites and other resources. These resources are provided for informational purposes only. Defender is not for clinical use. For certain, always consult your physician and lawyer before taking action on information found in this site.</p>
  </div>

  <div class="defender-container" class="col-lg-6">
    <h2 class="defender-text well">I'm looking out for you!</h2>
    <img id="img-defender" src="../../assets/images/CaptainD.jpg">
  </div>

</div>
