<div ng-controller="RefinerAreaCtrl">

  <div class="refiner-box">

    <ul>
      <li class="btn btn-info">FOOD</li>
      <li class="btn btn-default disabled">DRUG</li>
      <li class="btn btn-default disabled">DEVICE</li>
    </ul>


    <div class="refiner-input-container">
      <input type="text" class="refine-input form-control" id="input-refiner" placeholder="Refine">
      <button class="btn btn-primary" id="btn-refiner" ng-click="refineResults()"><span class="glyphicon glyphicon-search"></span></button>
    </div>

    <div class="refiner-affected checkbox-inline">
      <input type="checkbox">Include Affected Areas
    </div>

  </div>
</div>
